*.so
*.dll
*.exe
*.o
*.class
*.hspy
*.zip
*.gz
*.tar
*.7z
*.dmg
*.iso
*.rar
*.log
*.out
*.npy
*.inmf
*.onmf

Thumbs.db
ehthumbs.db
.DS_Store
.DS_Store?
.Trashes

astorum.egg-info
examples/output
examples/output_ext_abs
cpp/build
cpp/CMakeCache.txt
cpp/CMakeFiles
cpp/cmake_install.cmake
cpp/out
cpp/install_manifest.txt
cpp/Makefile
src/astorum/__pycache__
src/astorum/approximators/__pycache__
src/astorum/utilities/__pycache__

# cibuildwheel and wheel build artifacts
wheelhouse/
dist/
_skbuild/
*.egg-info/
