recursive-include cpp/src *.cpp
recursive-include cpp/include *.h *.hpp
recursive-include cpp/pybind *.cpp
recursive-include cpp/external *
include cpp/CMakeLists.txt
recursive-include src/astorum/databases *.json *.txt
include LICENSE
include README.md